<!DOCTYPE html>
<html>

<head>
    <title>Editar Cómic</title>
    <link rel="stylesheet" href="http://localhost:3001/app.css">
</head>

<body>
    <form class="comic-form" action="{{updateUrl}}" method="POST">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" value="{{comic.title}}" required>
        <label for="image">Imagen URL:</label>
        <input type="text" id="image" name="image" value="{{comic.image}}" required>
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" step="0.01" value="{{comic.price}}" required>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required>{{comic.description}}</textarea>
        <button type="submit">Guardar Cambios</button>
        <a href="/comics" class="cancel-btn">Cancelar</a>
    </form>
</body>

</html>